.container{
    display: flex;
    position: relative;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cherrydiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: var(--pink);
    /* background-color: rgb(255, 255, 255); */
    margin-top: 3rem;
    margin-left: 5rem;
    padding: 0.6rem;
    border-radius: 2rem;
    font-size: 0.8 rem;
    /* color: var(--themeRed); */
    color: rgb(96, 88, 88);
    font-weight: bold;
}
.cherrydiv:hover{
    cursor: pointer;
    transform:scale(1.03);
    color:red;
}
.heroText{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: bold; 
}
.smalltext{
    width: 70%;
    color: var(--gray);
    font-weight: 600;
}
.btn{
    padding: 1rem 2.5rem;
}
.right{
    position: relative;
}
.imageContainer{
    width: 32rem;
    position: absolute;
    top: -1rem;
    left: 6rem;
}
.imageContainer:hover{
    transform: scale(1.1);
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: max-content;
    padding: 1rem;
    border-radius: 5rem;
    top: 6rem;
    left: -6rem;
    gap: 1rem;
    background-color: #fff;
    box-shadow: var(--shadow);
    color: var(--themeRed);
    color: rgb(95, 83, 83);
}
.contact>div{
    background: rgb(29, 185, 29);
    border-radius: 50%;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}
.contact:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.Pizza{
    display: flex;
    gap: 1rem;
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 4rem;
    left:19rem;
    width: max-content;
}
.Pizza>:nth-child(1){
    width: 6rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 0.6rem;
}
.Pizza>:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}
.Pizza:hover{
    transform: scale(1.2);
    cursor: pointer;
}