.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 6rem;
}
.heading{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    /* justify-content: flex-start; */
    align-self: center;
}
.heading>:nth-child(1){
    color: rgb(132, 5, 5);
    font-size: 2rem;
    margin-bottom: 2rem;
}
.heading>:nth-child(2){
    font-size: 1.4rem;
    margin-left:6rem;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    align-items: center;
    justify-content: space-around;
}
.pizza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

.ImageWrapper{
    height: 14rem;
    width: 16rem;
    position: relative;
    overflow: hidden;
    border-radius: 20%;
}
.ImageWrapper>span>img:hover{
    transform: scale(1.1);
    cursor:grab;
}
